* {
    box-sizing: border-box;
}

html {
    background-color: #b0e37d;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

.header {
    border: 2px solid #000000;
    width: auto;
    background-color: aqua;
}
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #000000;
    transition: 0.3s;

}



.main-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 15px;
    background-color: #36a84d;
    border: 2px solid #000000;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}
.avatar {
    width: 200px;
    height: 250px;
    border: 2px #000000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 15px;
    background-color: #36a84d;
    border: 2px solid #000000;
    align-items: center;
}
.logo {
    width: 90px;
    height: 40px;


}

.dev-year {
    text-align: center;

    margin: 0 40px;
    color: #000000;
    font-weight: bold;
    font-size: 40px;
}